<p>Formulaire de contact envoyé depuis le site Internet</p>

<p><strong>Nom :</strong> {{ data.name }} </p>
<p><strong>Entreprise :</strong> {{ data.subject }} </p>
<p><strong>E-mail :</strong> {{ data.email }} </p>
<p><strong>Message :</strong> {{ data.message }}</p>