{% extends 'arroweb.html.twig' %}

{% block title %}Claire Bourdalé, développeuse web freelance à Caen - Calvados (14){% endblock %}



{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">
				<section class="contact">
					<h1>Mentions légales</h1>
					
				    
				    <div class="element-gauche">
				    	<h2>Informations légales</h2>
						<ul>
							<li><strong>Éditeur :</strong> Claire Bourdalé</li>
							<li><strong>N° de SIREN :</strong> 513 932 137</li>
							<li><strong>Code APE :</strong> 6201Z</li>
							<li><strong>Siège social :</strong> 1, Chemin du Mont - 14210 Baron sur Odon</li>
							<li><strong>Responsable de la publication :</strong> Claire Bourdalé</li>
						</ul>


					</div><!-- /.element-gauche -->

					<div class="element-gauche">
						<h2>Droit d'accès au fichier informatisé</h2>
						<p>Tout utilisateur ayant déposé des informations directement ou indirectement nominatives peut demander la communication des informations nominatives le concernant à l'administrateur du service et les faire rectifier le cas échéant, conformément à la loi française No 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>

					</div><!-- /.element-gauche -->

					<div class="element-gauche">
						<h2>Droit d'auteur</h2>
						<p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les réprésentations photographiques et iconographiques.</p>

						<p>L'impression des pages Internet du site <a href="http://www.arroweb.net">www.arroweb.net</a> est uniquement autorisée pour un usage privé.</p>

						<p>A ce titre, les représentations, reproductions, imbrications, diffusions et rediffusions, partielles ou totales, sont interdites conformément aux dispositions de l'article L.122-4 du Code de la propriété intellectuelle.</p>
					

					</div><!-- /.element-gauche -->

					<div class="element-gauche">
						<h2>Hébergement</h2>
						<p>Le site Internet <a href="http://www.arroweb.net">www.arroweb.net</a> est hébergé par la société OVH, dont le siège social se situe 2 rue Kellermann - 59100 Roubaix - France.</p>

					</div><!-- /.element-gauche -->
				</section>
				
				


    		</div><!-- /.col -->

			
	</div><!-- /.row -->

{% endblock %}

