{% extends 'arroweb.html.twig' %}

{% block title %}Arroweb - protection de vos données personnelles : politique de confidentialité{% endblock %}



{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">
				<section class="contact">
					<h1>Protection de vos données personnelles</h1>
					
					<p>Sur le site Internet <a href="https://arroweb.net">arroweb.net</a>, je suis amenée à récolter certaines de vos données personnelles via le formulaire d'inscription à la newsletter Arroweb et via le formulaire de contact de la page contact.</p>

					<p>Vous trouverez ci-dessous le traitement que j'en fais et la procédure si vous souhaitez supprimer, modifier ou accéder à vos données.</p>
				    

					<div class="element-gauche">
						<h2>Formulaire d'inscription à la newsletter Arroweb</h2>
						<p>Lors de votre inscription à la newsletter, j'enregistre uniquement votre adresse e-mail. Cette dernière est stockée dans une base de données privée sur un serveur web sécurisé hébergé par le prestataire <a href="https://www.ovh.com/fr/support/mentions-legales/">OVH</a>.</p>
						
						<p>Si vous souhaitez ne plus suivre cette newsletter, un lien de désincription vous est proposé en bas de chaque newsletter. Il vous suffit de cliquer sur ce lien : une demande de confirmation vous est envoyée par e-mail. Suite à cette confirmation, votre e-mail est aussitôt et automatiquement supprimé.</p>

						<p>Vous pouvez également demander la suppression de votre adresse e-mail en me contactant directement par e-mail à l'adresse suivante : claire@arroweb.net</p>

						<p>Je conserve votre donnée pendant 5 ans : à l'issue de cette période, je vous sollicite afin de vous demander à nouveau si vous souhaitez continuer l'abonnement à cette newsletter. Si vous ne souhaitez pas poursuivre, je supprime votre adresse de la base de données.</p>

					</div><!-- /.element-gauche -->

					<div class="element-gauche">
						<h2>Formulaire de contact de la page Contact</h2>
						<p>Ce formulaire vous demande de renseigner votre nom, votre nom de société, votre e-mail et votre message. Ces données me servent à vous contacter en retour afin de répondre à votre sollicitation.</p>
						<p>J'enregistre ces données dans un répertoire de contacts privé sécurisé.</p>
						<p>A l'issue de ma prise de contact avec vous, si vous ne souhaitez pas que je conserve vos coordonnées, vous pouvez me le signaler en me contactant directement par e-mail à l'adresse suivante : claire@arroweb.net</p>

					

					</div><!-- /.element-gauche -->


				</section>
				
				


    		</div><!-- /.col -->

			
	</div><!-- /.row -->

{% endblock %}

