{% extends 'arroweb.html.twig' %}

{% block title %}Questions sur la création de site Internet professionnel{% endblock %}


{% block bandeau2 %}
	<section class="contact">
		<h1>Questions - Réponses sur la création de site Internet</h1>
		<p>Retrouvez ci-dessous les réponses aux questions que vous pourriez vous poser sur la conception de site Internet.<br />
		Si vous avez d'autres interrogations, je vous invite à <a href="{{ path('contact') }}">me contacter</a>.</p>

		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h5 class="mb-0">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
					  <i class="fa fa-eur" aria-hidden="true"></i> - Quel est le prix d'un site Internet professionnel ?
					  </a>
					</h5>
				</div>

				<div id="collapseZero" class="collapse" role="tabpanel" aria-labelledby="headingZero">
					<div class="card-block">
						<p>La réponse à cette question dépend de nombreux facteurs (impossible sans informations complémentaires de vous donner un chiffre brut).</p>

						<p>Le coût d'un site Internet dépend étroitement du contenu dont il sera composé, des fonctionnalités nécessaires.</p>

						<p>J'établis mes devis en fonction du temps de travail envisagé à mener à bien la mission. Je vous précise le nombre de jours requis et mon tarif jour correspondant.</p>

					</div><!-- /.card-block -->
				</div><!-- /.collapse -->
			</div><!-- /.card -->

			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h5 class="mb-0">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					  <i class="fa fa-clock-o" aria-hidden="true"></i> - Combien de temps faut-il pour la création d'un site Internet ?
					  </a>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="card-block">
						<p>Chaque projet web étant différent, il n'existe pas de réponse unique à cette question. Le temps nécessaire à la création de votre site Internet dépend étroitement du contenu qui le composera et de ses fonctionnalités.</p>

						<p>Ainsi, en fonction de vos besoins, la création de votre site Internet pourra s'échelonner, à titre indicatif, entre quelques jours (pour un site vitrine par exemple) et plusieurs semaines.</p>
					</div><!-- /.card-block -->
				</div><!-- /.collapse -->
			</div><!-- /.card -->

			<div class="card">
				<div class="card-header" role="tab" id="headingTwo">
					<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					  <i class="fa fa-search" aria-hidden="true"></i> - Comment bien référencer mon site Internet sur Google ?
					</a>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="card-block">
						<p>La position de votre site Internet dans les résultats de Google dépendra de plusieurs facteurs.</p>
						<p><strong>Concurrence sur votre thématique : </strong> si de nombreux sites Internet traitent déjà de votre sujet, il sera plus long et difficile de vous faire une place parmi eux. A l'inverse, si votre sujet est très spécifique et encore peu présent sur le web, il sera plus facile de vous positionner dans les meilleurs résultats. </p>
						<p><strong>Choix d'expressions clés : </strong> dès le début de votre projet web, il est très important de réfléchir aux expressions / mots clés sur lesquels vous envisagez d'apparaitre. Etroitement liés à votre thématique, ces "mots-clés" doivent être choisis de façon stratégique en analysant notamment le contexte existant. En effet, la notion de "concurrence" se pose également ici : certaines expressions sont plus concurrentielles que d'autres, et il est donc plus difficiles de se positionner sur ces dernières.</p>
						<p><strong>Le contenu de votre site : </strong> c'est l'élément fondamental pour le positionnement de votre site. En effet, Google "regarde" la pertinence du contenu de votre site Internet par rapport aux recherches des Internautes. Si vos pages sont peu pertinentes ou pauvres en éléments suceptibles d'intéresser le lecteur sur l'expression clé, votre site ne sera pas proposé dans les meilleurs résultats. Ainsi, la construction et la rédaction du contenu de votre site par rapport aux expressions clés que vous avez choisies sont primordiales.</p>
						<p><strong><em>D'autres facteurs importants interviennent dans le positionnement de votre site Internet : je vous explique et vous accompagne sur cette problématique au départ même de votre projet. <i class="fa fa-smile-o" aria-hidden="true"></i>
						</em></strong></p>
					</div><!-- /.card-block -->
				</div><!-- /.collapse -->
			</div><!-- /.card -->

			<div class="card">
				<div class="card-header" role="tab" id="headingThree">
					<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					  <i class="fa fa-gavel" aria-hidden="true"></i> - Une fois en ligne, suis-je propriétaire de mon site Internet ?
					</a>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="card-block">
						<p>Oui, une fois en ligne, votre site Internet vous appartient. Je reste l'auteur du développement (je possède le droit moral) mais je vous cède mes droits d’auteur patrimoniaux sur l’ensemble des éléments réalisés dans le cadre de votre projet.</p>

						<p>Je vous fournis tous les fichiers sources de votre site Internet (généralement par la mise à disposition du code source complet sur l'hébergement web du site Internet).</p>

						<p>A noter qu'une fois en ligne, vous devenez le responsable de la publication du contenu de vos pages.</p>

					</div><!-- /.card-block -->
				</div><!-- /.collapse -->
			</div><!-- /.card -->

			<div class="card">
				<div class="card-header" role="tab" id="headingFour">
					<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					  <i class="fa fa-user" aria-hidden="true"></i> - Comment modifier ou ajouter du contenu sur mon site Internet ?
					</a>
					</h5>
				</div>
				<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
					<div class="card-block">
						<p>Au début de votre projet et selon vos besoins, nous définissons ensemble ce sur quoi vous aurez la main. Vous pouvez ainsi avoir le contrôle sur toutes vos pages ou seulement des éléments bien spécifiques (voire sur rien du tout mais c'est plus rare).</p>

						<p>Lorsque vous pouvez interagir avec le contenu, je vous forme à la procédure et vous remets une documentation dédiée et/ou des tutoriels vidéos.</p>

						<p>Plus tard, si vous êtes toutefois perdu, je reste à votre disposition pour vous aider. Je ne vous laisse jamais tout seul dans la panade <i class="fa fa-smile-o" aria-hidden="true"></i></p>

					</div><!-- /.card-block -->
				</div><!-- /.collapse -->

			</div><!-- /.card -->
			<div class="card">
				<div class="card-header" role="tab" id="headingFive">
					<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					  <i class="fa fa-eur" aria-hidden="true"></i> - Quelles sont les modalités de paiement ?
					</a>
					</h5>
				</div>
				<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
					<div class="card-block">
						<p>Lors de l'acceptation du devis, je vous demande un acompte de 30% du montant total pour lancer officiellement le projet.</p>

						<p>Le solde est ensuite versé à réception de la facture une fois le site Internet en ligne.</p>

						<p>Les paiements peuvent s'effectuer par virement, carte bancaire ou chèque.</p>

					</div><!-- /.card-block -->
				</div><!-- /.collapse -->
			</div><!-- /.card -->
		</div><!-- /.accordion -->

		
	</section>

	{% include 'cta-contact.html.twig' %}

{% endblock %}

