/* GENERALITES */
body{ 
	padding-top: 58px; 
	background-color: #061748;

}

p{
	padding-bottom: 10px;
}

h1{
	font-family: 'Roboto Condensed', sans-serif !important;
	font-size: 2.5em !important;
	color: rgba(0,0,0,0.8);
	padding-top: 25px;
}

.anim1 {
    opacity:0;
    margin-left: -500px;
    -moz-animation: anim 1s linear forwards 1s;
    -webkit-animation: anim 1s linear forwards 1s;
    -o-animation: anim 1s linear forwards 1s;
    -ms-animation: anim 1s linear forwards 1s;
    animation: anim 1s linear forwards 1s;
}
@-moz-keyframes anim {
   0%  {opacity:0;margin-left: -500px;}
   100% {opacity:1;margin-left: 0px;}
}
@-webkit-keyframes anim {
   0%  {opacity:0;margin-left: -500px;}
   100% {opacity:1;margin-left: 0px;}
}
@-o-keyframes anim {
   0%  {opacity:0;margin-left: -500px;}
   100% {opacity:1;margin-left: 0px;}
}
@-ms-keyframes anim {
   0%  {opacity:0;margin-left: -500px;}
   100% {opacity:1;margin-left: 0px;}
}
@keyframes anim {
   0%  {opacity:0;margin-left: -500px;}
   100% {opacity:1;margin-left: 0px;}
}

.card{
	margin-top: 5px;
	margin-bottom: 5px;
}

.btn-warning {
  background-color: #ef4836 !important;
  border-color: #ef4836 !important;
}

.firstStar{
	opacity: 0;
}

/* CONTAINER FLUID */
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

@media (min-width: 576px) {
  .container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  }
}

@media (min-width: 768px) {
  .container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  }
}

@media (min-width: 992px) {
  .container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  }
}


/* MENU */
.fond-bleu{
	background-color: #02569C;
}

a.nav-link{
	color: #ffffff !important;
}

.nav-link.active{
	color: #ffffff !important;
	font-style: italic !important;
	font-weight: bold !important;
}

.nav-link:hover {
  	color: #D3DAF1 !important;
}


/* BANDEAU 1 HEADER*/
.bandeau1{
	background-color: #ffffff;
}

.intro{
	font-family: 'Kalam', cursive;
	padding-top: 20px;
	font-size: 1.5rem;
}

.intro2{
	font-family: 'Kalam', cursive;
	padding-top: 0px !important;
	margin-top: -20px !important;
	font-size: 1.2rem;
}

 .showcase{
   height:400px;
   text-align: center;
   color:#fff;
   position: relative;
 }

 .showcase h3{
   font-family: 'Roboto Condensed', sans-serif !important;
   font-size: 3.2rem;
   padding-top: 8%;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom:10px;
   color:#fff;
   text-shadow: 1px 1px 3px #000000;
 }

 .showcase p {
   font-size:2rem;
   text-shadow: 1px 1px 3px #000000;
 }

.layer{
 	position: absolute;
 	background-color: rgba(80,80,80,0.75);
 	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

.layer2{
  position: absolute;
  background-color: rgba(80,80,80,0);
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

.layer3{
  position: absolute;
  background-color: rgba(80,80,80,0.4);
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.presta-picture1{
 	background:url('../img/site-internet-sur-mesure-lg.jpg') no-repeat top center;
 }

.presta-picture2{
 	background:url('../img/site-internet-wordpress-lg.jpg') no-repeat top center;
 }

.presta-picture3{
  background:url('../img/refonte-site-internet-lg.jpg') no-repeat top center;
 }

 /* /.BANDEAU 1 */



/* BANDEAU 2 */
.bandeau2{
	background-color: #f6f3f6;
	margin-top: -20px;
}

.bandeau2 .logo{
	padding-bottom: 15px;
}

.bandeau2 h2{
	font-family: 'Roboto Condensed', sans-serif !important;
	font-size: 1.8em !important;
	color: rgba(0,0,0,0.75);
	padding-top: 15px;
	padding-bottom: 10px;
}

.bandeau2 .chapeau{
	font-size: 1.2em !important;
	color: rgba(0,0,0,0.55) !important;
}

/* FOOTER */

.footer{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 0.9rem;
}

.footer ul{
	list-style-type: square !important;
	color: rgba(255,255,255, 0.7) ;
}

.footer li a{
	color: rgba(255,255,255, 0.7) !important;
}

.footer li a:hover{
	color: rgba(255,255,255, 1) !important;
	text-decoration: none !important;
}

.footer p{
	color: rgba(255,255,255, 0.7) !important;
}