{% extends 'admin.html.twig' %}

{% block title %}Editer une référence{% endblock %}

{% block contenu %}

	<h1>Editer une référence</h1>

	{{ include("ArrowebBundle:portfolio:form.html.twig") }}


{% endblock %}




