{% extends 'arroweb.html.twig' %}

{% block title %}Intégration de site Internet, Caen - Normandie{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture5">
		<div class="layer3">
			<h1>Intégration de votre site Internet</h1>
			<h2 class="intro">Quand il vous manque la partie "code"</h2>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}

	<div class="row">
		<div class="col-12 col-md-10">

			<h1 >Intégration de votre site Internet</h1>

			<p class="chapeau">Votre projet web est défini et vous possédez les maquettes graphiques représentant le design de votre site. Il ne reste plus que la partie "développement web" à réaliser ?<br />
			Je réalise pour vous l'intégration web de vos maquettes... </p>
		    
		    <div class="element-gauche">
			    <h2><i class="fa fa-code" aria-hidden="true"></i> Construction de vos pages</h2>
			    <p>Classiquement, au cours d'un projet web, je réalise l'ensemble des étapes à la construction de votre site Internet. Et notamment la conception du design. Toutefois, je peux également rejoindre une équipe pour réaliser uniquement certaines phases.</p>
			    <p>Ainsi, si vous disposez déjà d'un graphiste pour la réalisation de l'ambiance graphique, je peux intervenir pour réaliser uniquement la partie "informatique" de votre projet.</p>
			    <p>A partir des maquettes que vous me fournissez, je transpose ces dernières en pages web et développe les différentes fonctionnalités de votre site.</p>
		    </div><!-- /.element-gauche -->

		    {% include 'cta-contact.html.twig' %}

			
		</div><!-- /.col -->

		<div class="col-12 col-md-2">
			<p class="text-center"><img src="{{ asset('img/dive-code.png') }}" class="img-fluid" alt="Intégration de site web" title="" /></p>
		</div><!-- /.col -->
	</div><!-- /.row -->

    

{% endblock %}

