{% extends 'arroweb.html.twig' %}

{% block title %}Intégration de site Internet, Caen - Normandie{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture3">
		<div class="layer3">
			<h3>Intégration de votre site Internet</h3>
			<p class="intro">Quand il vous manque la partie "code"</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}

	<div class="row">
		<div class="col-12 col-md-10">

			<h1 >Intégration de votre site Internet</h1>

			<p class="chapeau">Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti.</p>
		    
		    <h2><i class="fa fa-shower" aria-hidden="true"></i> Construction de vos pages</h2>
		    <p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis ictibus interemit.</p>

			
		</div><!-- /.col -->

		<div class="col-12 col-md-2">
			<p class="text-center"><img src="{{ asset('img/new-start.png') }}" class="img-fluid" alt="Refonte de site Internet" title="" /></p>
		</div><!-- /.col -->
	</div><!-- /.row -->

    

{% endblock %}

