{% extends 'arroweb.html.twig' %}

{% block title %}Comment actualiser son site Internet professionnel ?{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture4">
		<div class="layer">
			<h1>La maintenance de votre site Internet</h1>
			<h2 class="intro">Après la mise en ligne</h2>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}

	<div class="row">
		<div class="col-12 col-md-10">

			<h1>Comment actualiser régulièrement son site Internet ?</h1>

			<p class="chapeau">Une fois en ligne, la vie de votre site Internet ne fait que commencer.<br />
				Pour l'animer et/ou assurer son "suivi médical", je vous propose plusieurs services.</p>
		    
		    <div class="element-gauche">
			    <h2><i class="fa fa-pencil" aria-hidden="true"></i> Rédaction de contenus</h2>
			    <p>Animer votre site Internet peut être un élément clé pour votre stratégie commerciale ou de communication.</p>
			    <p>Si vous ne disposez pas du temps ou des ressources humaines pour alimenter le contenu de votre site Internet, je vous propose mes services de rédaction.</p>
			    <p>Sous votre supervision, j'écris du contenu pertinent en lien avec votre domaine d'activité : articles, reportages, dossiers... Je me charge de sa publication sur votre site Internet et de son partage auprès de vos communautés.</p>

			    <table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Formules</th>
						</tr>
					</thead>
			    	<tbody>
		  				<tr>
		  					<td>Forfait Contenu Annuel "Small" (2h / mois)</td>
		  				</tr>
		  				<tr>
		  					<td>Forfait Contenu Annuel "Medium" (8h / mois)</td>
		  				</tr>
					</tbody>
				</table>
			</div><!-- /.element-gauche -->

			<div class="element-gauche">
				<h2><i class="fa fa-refresh" aria-hidden="true"></i> Maintenance &amp; Actualisation</h2>
			    <p>Votre site Internet étant une application informatique, il vit au sein d'un environnement technologique changeant.</p>
			    <p>Il est ainsi nécessaire d'assurer un "suivi médical" via des mises à jour régulières afin de faire perdurer la sécurité de votre site.</p>
			    <p>Parallèlement à cette problématique, vous pouvez avoir besoin d'actualiser certains composants de vos pages sur lesquels vous n'auriez pas la main : textes, images du design...</p>
			    <p>Je vous propose alors d'intervenir, selon les besoins de votre projet, de façon ponctuelle ou régulière pour assurer la maintenance de votre site Internet.</p>

			    <table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Formules</th>
						</tr>
					</thead>
			    	<tbody>
		  				<tr>
		  					<td>Intervention ponctuelle à l'heure</td>
		  				</tr>
		  				<tr>
		  					<td>Forfait Maintenance Annuel 12 heures (1h / mois)</td>
		  				</tr>
		  				<tr>
		  					<td>Forfait Maintenance Annuel 24 heures (2h / mois)</td>
		  				</tr>
	  				</tbody>
				</table>
			</div><!-- /.element-gauche -->

			{% include 'cta-contact.html.twig' %}

		</div><!-- /.col -->

		<div class="col-12 col-md-2">
			<p class="text-center"><img src="{{ asset('img/close-eye.png') }}" class="img-fluid" alt="Maintenance et actualisation de votre site Internet" title="" /></p>
		</div><!-- /.col -->
	</div><!-- /.row -->

    

{% endblock %}

