{% extends 'arroweb.html.twig' %}

{% block title %}Refonte de site Internet, Caen - Normandie{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture3">
		<div class="layer3">
			<h3>La refonte de votre site Internet</h3>
			<p class="intro">Quand un dépoussiérage (ou plus) s'impose</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}

	<div class="row">
		<div class="col-12 col-md-10">

			<h1 >Refonte de votre site Internet</h1>

			<p class="chapeau">Vous disposez d'un site Internet depuis quelques temps mais celui-ci a un peu "vieilli" ? <br />
			Une refonte peut alors être la bonne solution....</p>
		    
		    <div class="element-gauche">
			    <h2><i class="fa fa-shower" aria-hidden="true"></i> Rafraîchissement et adaptabilité du design</h2>
			    <p>Votre site Internet est fonctionnel mais son design est un peu défraîchi : après audit de vos pages, je vous propose une nouvelle approche graphique compatible avec votre contenu actuel.</p>
			    <p>Ma "senbilité graphique" se tourne principalement vers des design soignés, sobres et clairs qui tendent à "survivre" aux effets de mode passagers. Je ne suis pas une adepte des graphismes surchargés qui "clignotent" partout.</p>
			    <p>Ma philosophie est de m'attacher à une ergonomie pertinente pour mettre prioritairement en avant le contenu. Dans cette optique, j'opte pour une ergonomie et mise en page qui s'adaptent aux différentes résolutions des utilisateurs : téléphones, tablettes, écrans intermédiaires, écrans de bureau... </p>
		    </div><!-- /.element-gauche -->

		    <div class="element-gauche">
				<h2><i class="fa fa-history" aria-hidden="true"></i> On reprend tout depuis le début</h2>
			    <p>Il vous est peut-être arrivé d'avoir un vêtement usé que vous avez raffistolé, recousu, reteint. On a beau faire tout ce qu'on peut pour le conserver le plus longtemps, il arrive un moment où il faut tout simplement s'en séparer et en racheter un neuf.</p>
			    <p>Un site Internet, c'est pareil. Développement obsolète, mise en page inadaptée, design dépassé, contenu incohérent... Plutôt que de travailler à "bricoler" votre site pour tenter de faire un semblant de quelque chose, il est parfois plus sage de repartir d'une page blanche.</p>
			    <p>Lors de l'étude de votre projet, j'analyse en profondeur l'ensemble de votre site Internet. S'il est préférable de repartir depuis le départ, je vous propose alors un projet de <a href="{{ path('prestation_site_mesure') }}">conception de site Internet sur mesure</a> de A à Z.</p>
		    </div><!-- /.element-gauche -->

		    {% include 'cta-contact.html.twig' %}

		</div><!-- /.col -->

		<div class="col-12 col-md-2">
			<p class="text-center"><img src="{{ asset('img/new-start.png') }}" class="img-fluid" alt="Refonte de site Internet" title="" /></p>
		</div><!-- /.col -->
	</div><!-- /.row -->

    

{% endblock %}

