{% extends 'arroweb.html.twig' %}

{% block title %}Comment créer un site Internet professionnel sur mesure ?{% endblock %}

{% block bandeau1 %}
	<script>
	fbq('track', 'ViewContent', {
	value: 3.50,
	currency: 'USD'
	});
	</script>

	<div class="showcase presta-picture1">
		<div class="layer">
			<h1>Votre site Internet sur mesure</h1>
			<h2 class="intro">Comment ça se passe ?</h2>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">
				<h1>La création de votre site Internet professionnel</h1>
				<p class="chapeau">Vous avez besoin d'un site Internet, mais vous n'y connaissez rien du tout ?<br />
				Pas de panique : c'est une de mes passions. Je vais pouvoir vous aider, vous accompagner et vous concocter un site Internet sur mesure de A à Z !</p>
			    
			    <div class="element-gauche">
			    	<h2><i class="fa fa-comments" aria-hidden="true"></i> 1 - Décorticons votre projet</h2>
			    	<p>La première étape consiste à nous entretenir afin de comprendre votre besoin. Je vous pose une multitude de questions pour cerner ensemble vos objectifs, cibles, attentes... Cela me permet d'avoir une vision sur l'ampleur de votre projet web et d'établir un cahier des charges.</p>
				</div><!-- /.element-gauche -->
				
				<div class="element-gauche">
			    	<h2><i class="fa fa-money" aria-hidden="true"></i> 2 - Un joli devis</h2>
			        <p>A partir de notre échange, je définis le temps et les ressources nécessaires à l'exécution de votre projet. Je vous propose alors un devis chiffré reprenant tous les éléments abordés.</p>
				    <p>Si ma proposition financière vous convient, nous pouvons démarrer les étapes suivantes.</p>
				    <p>Bien sur, au cours du temps, votre projet peut être amené à évoluer par rapport à nos premiers échanges et au devis. J'évalue alors l'impact des changements / nouvelles demandes et vous tiens informé des conséquences tarifaires.</p>
				    <p>Ainsi, pas de mauvaise surprise à réception de la facture...</p>
			    </div><!-- /.element-gauche -->
				
				<div class="element-gauche">
					<h2><i class="fa fa-cogs" aria-hidden="true"></i> 3 - Stratégie de contenu</h2>
					<p>Avant tout développement informatique de votre site Internet, nous définissons ensemble précisément son contenu. Pour cela, j'évoque avec vous le positionnement de votre société (ou organisme ou statut), les objectifs visés par vos futures pages web, l'audience ciblée, la ligne éditoriale...</p>
					<p>Viens ensuite la création à proprement parler du contenu : organisation des rubriques, rédaction des textes, choix des medias...</p>
					<p>L'écriture des textes, par défaut, vous revient. Mais si vous le souhaitez, je peux également m'en charger.</p>
				</div><!-- /.element-gauche -->

				<div class="element-gauche">
			    	<h2><i class="fa fa-paint-brush" aria-hidden="true"></i> 4 - Place aux pinceaux</h2>
			        <p>Le contenu étant établi, j'ai désormais une idée précise de son volume. J'imagine et travaille alors sur son ergonomie et sa mise en page graphique.</p>
				    <p>Je vous soumets une proposition de design sur laquelle nous échangeons jusqu'à validation.</p>
				    <p>Mon approche graphique tend principalement vers une ambiance sobre et claire afin de mettre <strong>prioritairement en avant le contenu</strong> et permettre une <strong>navigation adaptée aux différentes résolutions</strong> de vos internautes : smartphones, tablettes, ordinateurs portables, grands écrans...</p>
			    </div><!-- /.element-gauche -->
			    
			    <div class="element-gauche">
			    	<h2><i class="fa fa-code" aria-hidden="true"></i> 5 - C'est parti pour le code</h2>
			        <p>A partir du contenu et de la maquette graphique, je m'attaque ensuite au développement informatique de votre site Internet. Vous pouvez suivre l'évolution des principales étapes de la conception via une adresse web privée.</p>
				    <p>Une fois ce travail terminé, j'installe votre site Internet sur votre hégergement web. En effet, pour être accessible, votre site Internet nécessite un "endroit" pour être stocké (hébergement) et d'un nom de domaine pour accéder à cet endroit.</p>
				    <p>Si vous n'êtes pas familier de cette problématique technique, pas d'inquiétude, je vous accompagne dans la sélection d'un fournisseur et d'une formule adaptée à votre projet.</p>
			    </div><!-- /.element-gauche -->

			    <div class="element-gauche">
			    	<h2><i class="fa fa-bug" aria-hidden="true"></i> 6 - A la recherche des petites bêtes</h2>
			        <p>Une fois votre site Internet développé, nous procédons ensemble à des relectures, aux tests des fonctionnalités, aux éventuelles corrections et "debugs".</p>
				    <p>Si tout est bon, nous pouvons alors finaliser votre site Internet...</p>
			    </div><!-- /.element-gauche -->

				<div class="element-gauche">
			    	<h2><i class="fa fa-hourglass-end" aria-hidden="true"></i> 7 - Le Grand Jour est arrivé !</h2>
			       	<p>Il est alors temps de passer à la mise en ligne officielle de votre projet. Vous pouvez alors communiquer abondamment auprès de votre réseau, clientèle, communauté... l'ouverture de votre site Internet !</p>
			    </div><!-- /.element-gauche -->

			    <div class="element-gauche">
			    	<h2><i class="fa fa-rocket" aria-hidden="true"></i> 8 - A vous de jouer !</h2>
			        <p>Votre site Internet est en ligne. Pour autant, le travail autour de votre projet ne s'arrête pas là. Il vous faut désormais assurer l'animation de vos pages, alimenter en contenu pour que votre site évolue et vive pleinement.</p>
				    <p>Si vous ne disposez pas du temps ou des ressources humaines pour vous y consacrer, j'ai des solutions à vous proposer. C'est par ici : <a href="{{ path('prestation_maintenance') }}">Actualisation de site Internet</a> </p>
			    </div><!-- /.element-gauche -->

				<div class="element-gauche">
			    	<h2><i class="fa fa-wrench" aria-hidden="true"></i> 9 - Maintenance</h2>
			        <p>Votre site Internet est une application informatique qui évolue au sein d'environnement et de technologies en perpetuelle évolution. Ainsi, votre site necessite par moment des mises à jour afin de suivre le flot de ces évolutions.</p>
				    <p>Si vous ne disposez pas des compétences ou des ressources humaines pour ce suivi "médical", j'ai également des prestations à votre service : <a href="{{ path('prestation_maintenance') }}">Maintenance de site Internet</a></p>
			    </div><!-- /.element-gauche -->

			    {% include 'cta-contact.html.twig' %}


    		</div><!-- /.col -->

			<div class="col-12 col-md-2">
				<p class="text-center"><img src="{{ asset('img/web-project.png') }}" class="img-fluid" alt="Refonte de site Internet" title="" /></p>
			</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock %}

