{% extends 'arroweb.html.twig' %}

{% block title %}Développement de site Internet sur mesure, à Caen - Normandie{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture1">
		<div class="layer">
			<h3>Votre site Internet sur mesure</h3>
			<p class="intro">Comment ça se passe ?</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">
				<h1 >Création de votre site Internet sur mesure</h1>
				<p class="chapeau">Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti.</p>
			    
			    <h2><i class="fa fa-comments" aria-hidden="true"></i> 1 - Décorticons votre projet</h2>
			    <p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis ictibus interemit.</p>

			    <h2><i class="fa fa-money" aria-hidden="true"></i> 2 - Un joli devis</h2>
			    <p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis ictibus interemit.</p>

				<h2><i class="fa fa-cogs" aria-hidden="true"></i> 3 - Stratégie de contenu</h2>
				<p>Paphius quin etiam et Cornelius senatores, ambo venenorum artibus pravis se polluisse confessi, eodem pronuntiante Maximino sunt interfecti. pari sorte etiam procurator monetae extinctus est. Sericum enim et Asbolium supra dictos, quoniam cum hortaretur passim nominare, quos vellent, adiecta religione firmarat, nullum igni vel ferro se puniri iussurum, plumbi validis ictibus interemit.</p>

			    <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> 4 - Place aux pinceaux</h2>
			    <h2><i class="fa fa-code" aria-hidden="true"></i> 5 - C'est parti pour le code</h2>
			    <h2><i class="fa fa-bug" aria-hidden="true"></i> 6 - A la recherche des petites bêtes</h2>
			    <h2><i class="fa fa-hourglass-end" aria-hidden="true"></i> 7 - Le Grand Jour est arrivé !</h2>
			    <h2><i class="fa fa-rocket" aria-hidden="true"></i> 8 - A vous de jouer !</h2>

    		</div><!-- /.col -->

			<div class="col-12 col-md-2">
				<p class="text-center"><img src="{{ asset('img/web-project.png') }}" class="img-fluid" alt="Refonte de site Internet" title="" /></p>
			</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock %}

