{% extends 'arroweb.html.twig' %}

{% block title %}Conception de votre site Internet wordpress{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture2">
		<div class="layer2">
			<h3>Votre site Internet avec Wordpress</h3>
			<p class="intro">De la conception à la personnalisation</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}
		<div class="row">
			<div class="col-12 col-md-10">

				<h1 >Conception de votre site Internet Wordpress</h1>
				<p class="chapeau">Je réalise pour vous la conception de votre site Internet sous "Wordpress" en développant sur mesure votre thème graphique.</p>
			    
			    <div class="element-gauche">
				    <h2><i class="fa fa-wordpress" aria-hidden="true"></i> Qu'est-ce que Wordpress ?</h2>
				    <p>Wordpress est un logiciel permettant la création de site Internet. Il s'agit d'une "boite à outils" disponible pour construire différents types de sites Web : blog, site vitrine, site e-commerce, portfolio...</p>
				    <p>Il s'agit d'un "CMS", un système de gestion de contenu, très populaire utilisé dans le monde entier qui vous donne la main sur l'ensemble des rubriques de votre site Intenet.</p>
				</div><!-- /.element-gauche -->

				<div class="element-gauche">
					<h2><i class="fa fa-arrow-up" aria-hidden="true"></i> Des avantages</h2>
				    <p>L'avantage est qu'il permet de concevoir un site Internet sans "réinventer la roue". De nombreuses fonctionnalités prêtes à l'emploi permettent de créer un site web rapidement.</p>
				    <p>En outre, l'ensemble du contenu du site devient facilement administrable. Via une interface dédiée claire et agréable, vous pouvez aisément mettre à jour textes, images, articles...</p>
				</div><!-- /.element-gauche -->

				<div class="element-gauche">
				    <h2><i class="fa fa-arrow-down" aria-hidden="true"></i> Des contraintes</h2>
				    <p>Ses avantages sont aussi ses contraintes. L'utilisation de Wordpress restreint à se conformer à son modèle et à concevoir le site selon la structure "Wordpress". Bien que très souple et largement personnalisable, cette structure peut atteindre certaines limites et ne convient ainsi pas forcément à tous les projets web.</p>
				    <p>Lors de l'étude de votre projet web, j'analyse si votre site peut faire l'objet d'une approche Wordpress ou s'il est préférable de développer un site Internet sur mesure avec d'autres outils.</p>
			    </div><!-- /.element-gauche -->

			    <div class="element-gauche">
				    <h2><i class="fa fa-paint-brush" aria-hidden="true"></i> Votre site Wordpress avec thème personnalisé</h2>
				    <p>Wordpress vous permet d'avoir rapidement un site Internet construit en lui associant un thème graphique préconçu disponible depuis le catalogue en ligne.</p>
				    <p>Mais si vous souhaitez un thème (template) totalement personnalisé afin de ne pas être contraint à un design "trop rigide", je réalise pour vous un template sur mesure. Je crée alors votre thème de A à Z avec la charte graphique de votre projet.</p>
			    </div><!-- /.element-gauche -->

			    {% include 'cta-contact.html.twig' %}

    		</div><!-- /.col -->

			<div class="col-12 col-md-2">
				<p class="text-center"><img src="{{ asset('img/take-control.png') }}" class="img-fluid" alt="Conception de template wordpress - Développement de site web wordpress" title="" /></p>
			</div><!-- /.col -->
	</div><!-- /.row -->
    

{% endblock %}

