{% extends 'arroweb.html.twig' %}

{% block title %}Création de site Internet sportif et prestations sportives, Caen - Normandie{% endblock %}

{% block bandeau1 %}

	<div class="showcase presta-picture6">
		<div class="layer3">
			<h3>Web &amp; Sport</h3>
			<p class="intro">Site Internet et plus encore...</p>
		</div><!-- /.layer -->
	</div><!-- /.showcase -->

{% endblock %}

{% block bandeau2 %}

	<div class="row">
		<div class="col-12 col-md-10">

			<h1>Web &amp; Sport</h1>

			<p class="chapeau">Si votre projet web touche le sport, vous êtes à la bonne adresse. Diplômée d'un Master en Management du Sport, j'assure dans un univers parallèle de nombreuses missions en tant qu'agent de développement sportif.</p>
		    
		    <div class="element-gauche">
			    <h2><i class="fa fa-laptop" aria-hidden="true"></i> Site Internet d'association sportive ou d'événementiel sportif</h2>
			    <p>Fortement impliquée dans le milieu associatif sportif et notamment dans l'organisation événementielle, je dispose d'une bonne connaissance du secteur. </p>
			    <p>Je peux vous proposer la conception de votre site Internet sportif sur mesure en développant spécifiquement des fonctionnalités répondant aux problématiques de votre projet.</p>
			    <p>Que ce soit pour le site de votre club ou pour la prochaine édition de votre manifestation, je peux mettre en place des modules adaptés à vos besoins : planification de séances, inscriptions en ligne...</p>
			    <p>Je suis à l'écoute de tous vos défis et me tiens prête à relever vos challenges web !</p>
		    </div><!-- /.element-gauche -->

		    <div class="element-gauche">
			    <h2><i class="fa fa-rocket" aria-hidden="true"></i> Allons plus loin ensemble !</h2>
			    <p>Outre mon activité en développement web, je mets à votre disposition mes compétences autour de 3 autres métiers : </p>
			    <ul>
			    	<li>L'organisation d'événements sportifs</li>
			    	<li>La gestion de structure</li>
			    	<li>La mise en place et le développement d'activités</li>
			    </ul>
			    <p>Mon savoir-faire s'articule notamment autour de la gestion administrative, la finance &amp; la comptabilité, la communication &amp; le marketing, la logistique, la stratégie. </p>
			    <p>Je vous invite à me retrouver sur mon enseigne dédiée à cet univers parallèle : <a href="https://www.arrosport.com" target="_blank">ARROSPORT</a></p>
			    <p><a href="https://www.arrosport.com" target="_blank" class="btn btn-warning">www.arrosport.com</a></p>
		    </div><!-- /.element-gauche -->
			
		</div><!-- /.col -->

		<div class="col-12 col-md-2">
			<p class="text-center"><img src="{{ asset('img/wide-range.png') }}" class="img-fluid" alt="Site Internet sportif et prestations annexes sportives en Normandie" title="" /></p>
		</div><!-- /.col -->
	</div><!-- /.row -->

    

{% endblock %}

